* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'open Sans', sans-serif; */

body {
    font-family: 'open Sans', sans-serif;
    font-size: 2rem;
    color: var(--primary-color);
    line-height: 1.5;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 6rem;
    text-transform: uppercase;
}

h2 {
    font-size: 5rem;
    margin-bottom: 0;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin-top: 0;
}

h3 {
    font-size: 4rem;

}

h4 {
    font-size: 3rem;

}

h5 {
    font-size: 2rem;

}

a {
    text-decoration: none;
}

p {
    margin-bottom: 3rem;
}

.responsive-table {
    overflow: hidden;
    overflow-x: auto;
}

table {
    min-width: 36rem;

    width: 100%;
    border-collapse: collapse;
}

table caption {
    font-style: italic;
    font-size: 1.6rem;
    text-align: left;
    margin-bottom: 1rem;
}

table td,
table th {
    white-space: nowrap;
    padding: 1rem;
    text-align: left;
    border: 0.1rem solid rgb(49, 39, 27);
}

tfoot td,
table th {
    background: var(--light-gray-color);
}

.main-d{
    margin-bottom: 50px;
    margin-top: 30px;
    margin-left: 700px;
    width: 80%;
    
}

button#selecion {
  margin: 1rem 0rem 1rem 1rem;
    width: 5rem;
    height: 5rem;
}

input {width: 40%;} 
input,  button {padding: 10px;}
